<html>
<head>
    <link href="{{ asset('css/foundation.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<div style="width: 300px;">
    {{ analogClock("normal") }}
</div>
<div style="width: 300px;">
    {{ analogClock("slider") }}
</div>
<div id="slider-minutes" class="range-slider" data-slider data-options="start: 0; end: 59;initial:0">
    <span class="range-slider-handle" role="slider" tabindex="0"></span>
    <span class="range-slider-active-segment"></span>
    <input type="hidden">
</div>
<div id="slider-hours" class="range-slider" data-slider data-options="start: 0; end: 24;initial:3">
    <span class="range-slider-handle" role="slider" tabindex="0"></span>
    <span class="range-slider-active-segment"></span>
    <input type="hidden">
</div>


<script src="{{ asset('js/vendor/jquery.js') }}"></script>
<script src="{{ asset('js/foundation.min.js') }}"></script>
<script src="{{ asset('clock/js/clock.js') }}"></script>

<script>
	//to be used in range slider
	var sliderObj = null;
	//init ofundation
	$(document).foundation();
	
	//capture minute slider
	$('#slider-minutes').on('change.fndtn.slider', function(e){
		// prevent double double trigger
		if (e.namespace != "") {
			console.log($("#slider-minutes").attr('data-slider'));
			if (sliderObj != null) {
				sliderObj.setMinutes($("#slider-minutes").attr('data-slider'));
			}
		}
	});
	
	//capture hours slider
	$('#slider-hours').on('change.fndtn.slider', function(e){
		// prevent double double trigger
		if (e.namespace != "") {
			console.log($("#slider-hours").attr('data-slider'));
			if (sliderObj != null) {
				sliderObj.setHours($("#slider-hours").attr('data-slider'));
			}
		}
	});
	
	//Create clock object (normal clock, on sliders)
	var normal = clock(document.querySelector("#normal"));
	//Init clock at 12:12:30 with the seconds ticking
	normal.init(12,12,30,true);
	
	//Create clock for slider
	var sliderObj = clock(document.querySelector("#slider"));
	//Init clock at 00:00 without seconds hands
	//Inital value will change according to initial value rangeslider
	sliderObj.init(0,0,false);




</script>
</body>
</html>
